<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="HCRS_Service.PatientService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/Health_Care_Record_System/Patient" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="HCRS_Service.IPatientService" />
			</service>
			
			<service name="HCRS_Service.DoctorService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/Health_Care_Record_System/Doctor" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="HCRS_Service.IDoctorService" />
			</service>

			<service name="HCRS_Service.AppointmentService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/Health_Care_Record_System/Appointment" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="HCRS_Service.IAppointmentService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadata">
					<serviceMetadata httpGetEnabled="True" httpGetUrl="" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>